*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    font-size: 64.5%;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(4, 5, 5);
    font-size: 3rem;
}

.container{ 
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;         
    flex-wrap: wrap;
    justify-content: space-around;
}

.circle{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35rem;
    height: 35rem;
    border: 6px solid rgb(241, 245, 6);
    border-radius: 50%;
    color: #fff;
    background-color: black;   
}

.circle h1{
    margin-top: 10rem;                          
    text-transform: uppercase;                
    letter-spacing: 3px;                       
}

.container .btn{
    position: relative;
    top: 85%;
    width: 23vw;
    height: 8vh;
    margin: 0vh;
    

}

.container .btn::before,
.container .btn::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 30px;
    height: 10px;
    transition: 0.3s;
    transition-delay: 0;
}

.container .btn::before{
    bottom: -5px;
}

.container .btn::after{
    top: -5px;
}

.container .btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 1.6rem;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    font-weight: 400;
    z-index: 1;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;       
    backdrop-filter: blur(15px);
}

.container .btn:hover a{
    letter-spacing: 3px;
}

.container .btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,rgba(255, 255, 255, 0.15),transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;   
}

.container .btn:hover a::before{
    transform: skewX(45deg) translateX(200%);
}

.container .btn:hover::before,
.container .btn:hover::after{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    /* transition-delay: 0.3s; */
}  

.container .btn:hover::before{
    bottom: 0;
}

.container .btn:hover::after{
    top: 0;
}

.container .btn:nth-child(4)::before,
.container .btn:nth-child(4)::after{
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71,
    0 0 15px #ff1f71,
    0 0 30px #ff1f71,
    0 0 60px #ff1f71;
}

.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after{
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45,
    0 0 15px #1eff45,
    0 0 30px #1eff45,
    0 0 60px #1eff45;
}

.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after{
    background: #f0ec06;
    box-shadow: 0 0 5px #f0ec06,
    0 0 15px #f0ec06,
    0 0 30px #f0ec06,
    0 0 60px #f0ec06;
}

@media (min-width:820px){

    .container .btn a{
        font-size: 3rem;
    }

    

}

@media (min-width:768px){

    .container .btn a{
        font-size: 3rem;
    }

    

}

@media (max-width:360px){

    .circle{
        width: 30rem;
        height: 30rem;   
    } 

    .circle h1{
        margin-top: 7rem;                                         
        letter-spacing: 3px;                       
    }

}

@media (max-width:280px){

    .circle{
        width: 25rem;
        height: 25rem;   
    } 

    .circle h1{
        font-size: 3rem;
        letter-spacing: 3px;                       
    }
    

    .container .btn{
        width: 26vw;
        height: 8vh;
    }

}